button{
  font-weight: 600;
  font-size: 18px;
  border-radius: 100px;
  padding: 12px 15px;
}

.btns-container{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  position: absolute;
  width: 1280px;
  padding: 15px 0;
}